.wrapper {
	max-width: 1440px;
	width: 100%;
	padding-inline: 2rem;
	margin: 0 auto;

	@media (width <= 680px) {
		padding-inline: 1.5rem;
	}
}

.bigger-text {
	font-size: 1.25rem;
}

.bigger-text-sm {
	font-size: 1.125rem;
}

.text-center-balance {
	text-wrap: balance;
	text-align: center;
}

.text-wrapper {
	width: min(100%, 1000px);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-bottom: 1rem;
	margin: 0 auto;
}

.max-1000 {
	width: min(100%, 1000px);
}

.max-800 {
	width: min(100%, 800px);
}
